.full-page-content {
	width: 100%;
}

.extra-page-builder-wrapper .row {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-align: start;
	-moz-box-align: start;
	box-align: start;

	margin-top: 40px;
}

.extra-page-builder-wrapper .col {
	margin-right: @epb_gap;
}
.extra-page-builder-wrapper .col.first {
}
.extra-page-builder-wrapper .col.last {
	margin-right: 0;
}

.extra-page-builder-wrapper .col-12 {
	width: @epb_full_width;
}
.extra-page-builder-wrapper .col-6 {
	width: @epb_half_width;
}
.extra-page-builder-wrapper .col-8 {
	width: @epb_two_third_width;
}
.extra-page-builder-wrapper .col-4 {
	width: @epb_one_third_width;
}

.extra-page-builder-image > img  {
	display: block;
	margin: 0 auto;
}

.extra-slider .responsiveImagePlaceholder {
	display: block;
}
.extra-slider .responsiveImagePlaceholder img {
	display: block;
	margin: 0 auto;
}

.extra-slider .pagination {
	z-index: 11;
	bottom: -25px;
}
.extra-slider {
	overflow: visible;
}
.extra-slider:after {
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #aac2c8;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.extra-slider-auto-indicator {
	z-index: 1;
	bottom: -20px;
}
